@import "../../base";

.bid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    box-shadow: 2px 2px 10px $medium-color;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    .update-bid{
        padding: 5px;
        transition: all 0.1s ease-in-out;
        &:hover{
            background-color: rgb(135, 209, 135);
            border-radius: 50%;
        }
    }

    &:hover{
        box-shadow: 2px 5px 20px $medium-color;
    }

    .icon{
        border: 2px solid $medium-color;
        border-radius: 100vh;
        padding: 10px;
    }

    .bid-price{
        color: $price;
        font-weight: bolder;
    }
}