@import "../../base";

.product-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.281);
    padding: 10px;

    width: 250px;
    height: 290px;

   

    border-radius: 10px;

    gap: 10px;
    cursor: grab;

    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &:hover{
        background-color: $primary-color;
        color: white;

        .price{
            color: white;
        }
    }

    .favourite{
        position: absolute;
        height: 25px;
        width: 25px;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }

    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 140px;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }

    .info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;

        .title{
            font-size: 14px;
            font-weight: bolder;
        }
        .price{
            font-size: 14px;
            color: $price;
            font-weight: bolder;
        }
        .city{
            font-size: 14px;
        }
    }
}