@import "../../base";

.product-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.281);

    width: 210px;
    height: 250px;    

    border-radius: 5px;

    gap: 10px;

    overflow: hidden;
    transition: all 0.2s ease-in-out;

    @media only screen and(max-width:479px) and (min-width:360px){
        &{
            width: 150px;
            height: 250px;
        }
    }

    &:hover{
        background-color: $primary-color;
        color: white;

        .price{
            color: white;
        }
    }

    .favourite{
        position: absolute;
        height: 25px;
        width: 25px;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 99999;
    }

    .image{
        position: absolute;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 140px;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }

    .info{
        display: flex;
        position: absolute;
        bottom: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title{
            font-size: 14px;
            font-weight: bolder;
            word-wrap: break-word;
            text-align: center;
        }
        .price{
            font-size: 14px;
            color: $price;
            font-weight: bolder;
        }
        .city{
            font-size: 14px;
        }
    }
}

