@import "../../base";

.product-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

    .actions{
        @include flex($fd: row,$jc: flex-start);
        width: 90%;
        max-width: 520px;

        .icon-wrapper{
            cursor: pointer;
        }
    }

    .delete-bid{
        padding: 5px;
        border-radius: 100vh;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
         &:hover{
             background-color: rgb(250, 202, 202);
         }
         &:active{
             background-color: rgb(250, 134, 134);
         }
    }

    .b0011{
        color: black;
        border-color: black;
        font-weight: 400;
        text-transform: capitalize;
        border-radius: 5px;

        &:hover{
            border-color: $medium-color;
        }
    }

    .product-bids-wrapper{
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        width: 90%;
        max-width: 520px;
        gap: 10px;
    }

    .place-bid{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin: 20px 0 0 0;
        width: 90%;
        max-width: 520px;
        gap: 20px;

        .b0011{
            color: black;
            border-color: black;
            font-weight: 400;
            text-transform: capitalize;
            width: 60px;
            height: 45px;
            border-radius: 5px;
        }

        .bid-head-sub{
            font-size: 24px;
            font-weight: bolder;
        }
    }

    .bids{
        width: 40%;
    }

    .bid-head{
        text-align: left;
        width: 90%;
        max-width: 520px;
        word-wrap: break-word;
        font-weight: bolder;
        font-size: 26px;
        text-transform: capitalize;
        margin-top: 30px;
    }

    .description{
        text-align: left;
        width: 90%;
        max-width: 520px;
        word-wrap: break-word;
        font-size: 17px;
        line-height: 30px;
        margin-top: 50px;
    }

    .price{
        text-align: left;
        width: 90%;
        max-width: 520px;
        word-wrap: break-word;
        font-weight: bolder;
        color: $price;
        font-size: 22px;
        margin-top: 10px;
    }

    .title{
        text-align: left;
        width: 90%;
        max-width: 520px;
        word-wrap: break-word;
        font-weight: bolder;
        font-size: 26px;
        text-transform: capitalize;
    }

    .fullScreen-image{
        position: absolute;
        width: 100%;
        max-width: 100vh;
        cursor: pointer;
        img{
            width: 100%;
        }
    }

    .back{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 20px;
        gap: 5px;
    }

    .image-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        width: 100%;
        gap: 10px;

        .back,.next{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
            color: $medium-color;
            text-align: center;
            width: 50px;
            height: 250px;
            padding: 10px;
            cursor: pointer;

            &:hover{
                background-color: rgba(0, 0, 0, 0.151);
            }
        }

        .image{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 300px;
            height: 450px;
            cursor: pointer;
            overflow: hidden;

            img{
                position: absolute;
                width: 100%;
            }
        }
    }

    .seller-name{
        width: 90%;
        max-width: 520px;
        text-align: left;
        margin: 30px 0 10px 0;
        font-weight: 700;
        font-size: 17px;
    }
}