@import "../../base";

.signup-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

    .sub-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

        .text {
            display: flex;
            flex: 500px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            word-wrap: break-word;
            font-size: 22px;
    
            p {
                font-size: 18px;
            }
    
            div {
                text-align: left;
            }
        }

        .form {
            display: flex;
            flex: 500px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                overflow: hidden;
    
                div {
                    margin-bottom: 5px;
                    max-width: 370px;
                    width: 100%;
                    .f0011{
                        border-color: black;
                    }
                    .country-code-input{
                        border: none;
                        border-bottom: 1px solid $medium-color;
                        padding: 10px;
                        width: 45px;
                        margin-right: 15px;
                        margin-bottom: 10px;

                        &:focus{
                            outline: none;
                        }
                    }
                    .phone-number-input{
                        border: none;
                        border-bottom: 1px solid $medium-color;
                        padding: 10px;
                        margin-bottom: 10px;
                        width: 83.6%;
                        &:focus{
                            outline: none;
                        }
                    }
                }
    
                .b0011{
                    // color: black;
                    // border-color: black;
                    // font-weight: 400;
                    text-transform: capitalize;
                    width: 100px;
                    height: 45px;
                    // border-radius: 15px;
                }
    
                .button-wrapper{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .link-wrapper{
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

                    a{
                        width: 100%;
                        text-align: center;
                        color: $medium-color;
                        margin-top: 10px;
                    }
                }
            }

            .signup-error{
                text-align: center;
                font-weight: bold;
                color: red;
            }
        }
    }
    @media only screen and (max-width:1015px) {
        .sub-wrapper{
            .text { 
                height: max-content;
                margin-top: 30%;margin-bottom: 10%;
                div{
                    text-align: center;
                }
             }

             .form {
                 height: max-content;
             }
        }
    }
}