@import "../../base";

.user-nav-wrapper{
    @include flex($fd: "row");
    width: 100%;

    ul{
        @include flex($fd: "row");
        flex-wrap: wrap;
        width: 100%;

        li{
            @include flex();
            width: 350px; height: 350px;
            cursor: pointer;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.281);
            transition: all 0.1s ease-in-out;

            &:hover{
                width: 370px; height: 370px;
            }

            &:active{
                background: $primary-color;
                color: $text-color;
                width: 330px;
                height: 330px;
            }
        }
    }
}